.navbar {
    width: 100vw;
    background-color: var(--navbar-color);
}

.navbar-light .navbar-nav .navbar-link {
    color: white;
}

.dropdownLink {
    color: var(--navbar-color);
    outline: none;
}

.discordLink {
    font-size: 1.2rem;
    color: white;
    vertical-align: middle;
}