.home {
    width: inherit;
    height: inherit;
	overflow-y: scroll;
}

.titleText {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--navbar-color);
}

.textContainer {
    width: 60%;
}

.taglineText {
    color: var(--tagline-color);
    width: 56vw;
    font-size: 1.2rem;
}

.subtitleText {
    color: var(--subtitle-color);
    font-size: 1.5rem;
}

.timerContainer {
    width: 70%;
}

.signupButtonContainer {
    height: 20vh;
}

.csiIcon {
    width: 2.2rem;
}

.signupButton {
    border-color: var(--subtitle-color);
    color: var(--navbar-color);
    font-size: 1.2rem;

    transform: translateY(-10%);
}

.signupButton:hover {
    border: 1px solid var(--subtitle-color);
}

@media (max-width: 1225px) {
    .illustrations {
        width: 80%;
    }
    .textContainer {
        width: 80%;
    }
}

@media (max-width: 769px) {
    .csiLogo {
        width: 60vw;
    }

    .textContainer {
        width: 95%;
    }

    .titleText {
        font-size: 3rem;
    }

    .taglineText {
        font-size: 1.2rem;
    }

    .subtitleText {
        font-size: 1.5rem;
    }

    .taglineText {
        width: 100%;
    }

    .timerContainer {
        width: 100%;
        padding: 1vh;
    }
}
