.illustrationContainer {
    max-height: 38vh;
}

.homeIllustration {
    width: 15vw;
    max-height: 40vh;
}

.domainButton {
    background-color: var(--domain-button-color);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 83px;
    width: 10vw;

    font-size: 1rem;
    font-weight: bold;
    transform:translateY(-85%);
    color: var(--navbar-color);
}

@media (max-width: 769px) {
    .homeIllustration {
        width: 30vw;
    }

    .domainButton {
        transform: translateX(-10%);
        width: 30vw;
    }
}
