.quizContainer {
    width: 80vw;
}

.domainName {
    font-size: 1.6rem;
    color: var(--navbar-color);
    font-weight: bold;
}

.domainProp {
    text-transform: uppercase;
}

.quizTimer {
    font-size: 1.6rem;
    color: var(--navbar-color);
    font-weight: bold;
    vertical-align: middle;
}

.quizTimer span {
    width: 4vw;
    display: inline-block;
}

.questionNo {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}

.quizCard {
    border-radius: 1rem;
}

.questionCard {
    background-color: var(--navbar-color);
    color: white;
    max-height: 20vh;
}

.questionCardBody {
    overflow-y: auto;
    line-height: 1.3;
}

.imgContainer {
    height: inherit;
}

code {
    color: rgba(255,255,255,0.8);
}

.illustration {
    width: inherit;
    background: #F6FAFB;
    padding: 0.5rem;
}

.answerCard {
    height: 33vh;
    line-height: 1.3;
}

.answerText {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    resize: none;
}

.answerText:focus {
    outline: none;
    border: 1px solid black;
}

.savedStatus {
    font-size: 1.35rem;
    transform: translateY(-110%);
}

.buttonContainer button {
    border: none;
    background-color: var(--navigation-button-color);
    border-radius: 1rem;
    width: 8vw;
}

.buttonContainer button:focus {
    background-color: #db5555 !important;
}

.buttonContainer button:hover {
    background-color: #db5555;
}

.buttonContainer .submitButton {
    background-color: #4481fb;
}

.buttonContainer .submitButton:hover {
    background-color: #4471ca;
}

.buttonContainer .submitButton:focus {
    background-color: #4471ca !important;
}

.questionStatus {
    width: 3.6rem;
    height: 3.6rem;
    border: solid 0.8rem rgba(17, 53, 92, 0.16);
    text-align: center;
    line-height: 2.15rem;
    color: var(--navbar-color);
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 10rem;
    background-color: white;
    display: inline-block;

    cursor: pointer;
}

.questionStatusAttempted {
    background-color: #bfdde6;
    border-color: rgba(17, 53, 92, 0.16);
}

.questionStatusCurrent {
    border-color: rgba(17, 53, 92, 0.46);
}

@media (max-width: 1025px) {
    .quizContainer {
        width: 100vw;
        overflow-y: scroll;
        justify-content: space-around !important;
    }

    .illustration {
        width: 50vw;
        margin: 0 auto;
        padding: 0.5rem;
    }

    .quizContainer .mainContent {
        display: block;
        margin-top: 3vh;
    }

    .quizTimer span {
        width: 8vw;
    }

    .buttonContainer button {
        width: 20vw;
    }

    .questionStatusContainer {
        overflow-x: scroll;
        width: 86vw;
        white-space: nowrap;
    }
}
