.quizContainer {
    width: 75vw;
}

.quizContainer .mainContent {
    height: 80%;
    transform: translateY(-4%);
}

.domainName {
    font-size: 1.3rem;
    color: var(--navbar-color);
}

.questionNo {
    font-size: 1.2rem;
    color: var(--navbar-color);
}

.quizCard {
    border-radius: 0.5rem;
}

.questionCard {
    background-color: var(--navbar-color);
    color: white;
}

.illustration {
    width: 18vw;
    max-height: 40vh;
}

.answerCard {
    height: 40vh;
}

.answerText {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.answerText:focus {
    outline: none;
    border: 1px solid black;
}

.buttonContainer button {
    border-radius: 0.4rem;
    border: none;
    background-color: #F26F70;

    width: 8vw;
}

.buttonContainer button:hover {
    background-color: #d12f2f;
}

@media (max-width: 769px) {
    .quizContainer {
        width: 100vw;
    }

    .illustration {
        width: 30vw;
    }
}
