.timer {
    font-size: 3rem;
}

.timer > * {
    border: 1px solid black;
    width: 10vw;
    padding: 1%;
    border-radius: 0.5rem;

    background-color: var(--navbar-color);
    color: white;
}

.timeUnit {
    font-size: 1.5rem;
}

.live {
    color: var(--navigation-button-color);
    font-size: 4rem;
    font-weight: bold;    
}

@media (max-width: 769px) {
    .timer > * {
        width: 20vw;
    }
}